.payment-wrap {

  .payment-card {
    position: relative;
    max-width: 400px;
    height: 250px;
    max-height: 250px;
    margin-bottom: 20px;

    .front,
    .back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 16px;
      background-color: $color-concrete;
      border-radius: 16px;
      cursor: pointer;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: all .4s ease-in-out;
    }

    .front {
      transform: rotateX(0deg) rotateY(0deg);

      .bank-name {
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 20px;
      }

      .icon-credit-card-chip {
        display: block;
        margin-bottom: 16px;
        font-size: 40px;
      }

      .card-number {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;

        @include responsive(min-md) {
          font-size: 26px;
        }

      }

      .card-holder-name {
        margin-bottom: 10px;
        font-size: 16px;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include responsive(min-md) {
          max-width: 255px;
          font-size: 20px;
        }

      }

      .bank-icon {
        position: absolute;
        bottom: 16px;
        right: 16px;
      }

      .date {
        font-size: 14px;
      }
    }

    .back {
      transform: rotateX(0deg) rotateY(-180deg);
      overflow: auto;
      visibility: hidden;
      display: flex;
      align-items: center;

      .card-cvv {
        display: flex;
        align-items: center;
        width: 300px;
        background: #d3d3d3;
        height: 50px;

        .cvv-text {
          padding: 0 10px;
          margin-left: auto;
        }
      }

    }

    &:hover {
      .front {
        transform: rotateX(0deg) rotateY(180deg);
      }

      .back {
        transform: rotateX(0) rotateY(0);
        visibility: visible;
      }
    }

  }

  .payment-form-container {
    position: relative;
    padding: 16px;
    border: 1px solid $color-deep-sapphire;

    &:before {
      position: absolute;
      top: -12px;
      content: attr(data-content-title);
      display: block;
      background-color: #ffffff;
      padding: 0 5px;
      font-weight: bold;
    }
  }

}