<script>
    window.hotelData={
        hotelName:['Bosphorus Hotel','Big Istanbul Hotel','Dela Hotel','Aegean Hotel','Lara Hotel','Bodrum Hotel','Visnezade Istanbul Hotel','Konak Istanbul Hotel','Dardania Hotel','Alanya Hotel'],
        odaTipi:[
            {
                name:'Standart',
                img:'https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/1-standart.jpg',
                content:'5 Gün - 1 Yetişkin',
                price:'5.635TL'
            }, {
                name:'Deluxue',
                img:'https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/1-deluxe.jpg',
                content:'5 Gün - 1 Yetişkin',
                price:'13.235TL'
            },
            {
                name:'Standart',
                img:'https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/1-suit.jpg',
                content:'5 Gün - 1 Yetişkin',
                price:'50.210TL'
            }
        ],
        manzaraTipi:[
            {
                name:'Kara Manzaralı',
                img:'https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/land-view.jpg',
                content:'Fiyat Etki Oranı',
                price:'+1%'
            },
            {
                name:'Havuz Manzaralı',
                img:'https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/pool-view.jpg',
                content:'Fiyat Etki Oranı',
                price:'+15%'
            },
            {
                name:'Deniz Manzaralı',
                img:'https://teknasyon-mailling.s3.eu-central-1.amazonaws.com/challenge/frontend/img/sea-view.jpg',
                content:'Fiyat Etki Oranı',
                price:'+38%'
            }
        ]
    }
</script>

<div class="primary-step-wrapper" data-toggle="stepWrap" id="stepWrap">
    <div class="result-wrap" v-show="result" v-cloak>
        <div class="result">
            <span class="result-icon"><i class="icon icon-datepicker"></i></span>
            <span class="result-title">Rezervavyon Kaydınız alınmıştır.</span>
            <span class="result-desc">Rezervasyon özetiniz aşağıdaki gibidir. Rezervasyon kaydnızda değişiklik veya yeni rezervasyon yapmak için aşağıdaki linkleri kullanabilirsiniz.</span>
            <div class="btn-list">
                <button type="button" @click="resetData" class="primary-btn">Yeni Rezervasyon Yap</button>
                <button type="button" @click="resetData" class="primary-btn">Rezervasyonu Güncelle</button>
                <button type="button" @click="cancelReservationShow"  class="primary-btn">Rezervayonu İptal Et</button>
            </div>
        </div>
        <div class="step-content type-colored summary-section">
            <div class="summary-title">
                <span class="type-big">{{form.hotelName}}</span>
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="summary-card">
                        <div class="cart-info d-flex flex-column align-items-center">
                            <span class="cart-info-title">Giriş Tarihi</span>
                            <span class="cart-info-value">{{form.entryDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="summary-card">
                        <div class="cart-info d-flex flex-column align-items-center">
                            <span class="cart-info-title">Çıkış Tarihi</span>
                            <span class="cart-info-value">{{form.releaseDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="summary-card">
                        <div class="cart-info d-flex flex-column align-items-center">
                            <span class="cart-info-title">Yetişkin</span>
                            <span class="cart-info-value">{{form.adultCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="summary-card">
                        <div class="cart-info d-flex flex-column align-items-center">
                            <span class="cart-info-title">Çocuk</span>
                            <span class="cart-info-value">{{form.childCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="summary-card">
                        <div class="cart-info d-flex flex-column align-items-center">
                            <span class="cart-info-title">Oda Tipi</span>
                            <span class="cart-info-value">{{form.odaTipi.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="summary-card">
                        <div class="cart-info d-flex flex-column align-items-center">
                            <span class="cart-info-title">Manzara Tipi</span>
                            <span class="cart-info-value">{{form.manzaraTipi.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="summary-card">
                        <div class="cart-info">
                            <ul>
                                <li>
                                    <span class="cart-info-title">Oda Fiyatı</span>
                                    <span class="cart-info-value">{{form.odaTipi.price}}</span>
                                </li>
                                <li>
                                    <span class="cart-info-title">Fiyat Etki Oranı</span>
                                    <span class="cart-info-value">{{form.manzaraTipi.price}}</span>
                                </li>
                                <li>
                                    <span class="cart-info-title">Konaklama ({{dateDiff}} Gün)</span>
                                    <span class="cart-info-value">5.635TL</span>
                                </li>
                                <li>
                                    <span class="cart-info-title">İndirim(CODE100)</span>
                                    <span class="cart-info-value">-100TL</span>
                                </li>
                            </ul>
                        </div>
                        <div class="total-sum">
                            <span class="total-text">TOPLAM TUTAR</span>
                            <span class="total-price type-big">7.676 TL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="" data-url="form.json" data-toggle="form" @submit.prevent="submitAction" v-show="!result" v-cloak>
        <div class="step-header">
            <div class="item" :class="{'active':activeStep===1}">
                <i class="icon icon-calendar"></i>
                <span>Otel ve Tarih Seçimi</span>
            </div>
            <div class="item" :class="{'active':activeStep===2}">
                <i class="icon icon-bed"></i>
                <span>Oda Tipi ve Manzara Seçimi</span>
            </div>
            <div class="item" :class="{'active':activeStep===3}">
                <i class="icon icon-credit-card"></i>
                <span>Önizleme ve Ödeme İşlemleri</span>
            </div>
        </div>
        <div class="step-body" v-show="activeStep===1">
            <div class="step-content type-bordered">
                <div class="input-group">
                    <select class="primary-select2" name="hotelName" id="hotelName"  v-model="form.hotelName" required data-msg-required="Otel Seçilmedi"
                            data-placeholder="Rezervasyon yapmak istediğiniz Oteli seçiniz.">
                        <option :value="item" v-for="item in hotelData.hotelName">{{item}}</option>
                    </select>
                </div>
                <div class="input-group-wrap flex-column flex-md-row">
                    <div class="input-group">
                        <span class="field-desc">Giriş Tarihi</span>
                        <label class="primary-datepicker">
                            <input type="text" class="input-control" name="entryDate" autocomplete="off" id="entryDate" v-model="form.entryDate" required data-msg-required="Giriş Tarihi Seçilmedi">
                            <i class="icon icon-calendar"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <span class="field-desc">Çıkış Tarihi</span>
                        <label class="primary-datepicker">
                            <input type="text" class="input-control" name="releaseDate" autocomplete="off" id="releaseDate" v-model="form.releaseDate" required data-msg-required="Çıkış Tarihi Seçilmedi">
                            <i class="icon icon-calendar"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <span class="field-desc">Yetişkin Sayısı</span>
                        <input type="number" class="input-control" name="adultCount" id="adultCount" v-model="form.adultCount" max="5" min="0" data-msg-required="Yetişkin Sayısı Eklenmedi"
                               data-msg-max="5'den büyük sayı giremezsiniz"
                               data-msg-min="0'dan küçük değer giremezsiniz" required>
                    </div>
                    <div class="input-group">
                        <span class="field-desc">Çocuk Sayısı</span>
                        <input type="number" class="input-control" name="childCount" id="childCount" v-model="form.childCount" max="3" min="0" data-msg-required="Çocuk Sayısı Eklenmedi"
                               data-msg-max="3'den büyük sayı giremezsiniz"
                               data-msg-min="0'dan küçük değer giremezsiniz" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-body" v-show="activeStep===2">
            <div class="step-content type-colored summary-section">
                <div class="cart-info">
                    <div class="summary-title">
                        <span class="type-big">{{form.hotelName}}</span>
                    </div>
                    <span class="cart-info-title">Giriş Tarihi: </span><span class="cart-info-value">{{form.entryDate}}-</span>
                    <span class="cart-info-title">Çıkış Tarihi: </span><span class="cart-info-value">{{form.releaseDate}}-</span>
                    <span class="cart-info-title">Yetişkin: </span><span class="cart-info-value">{{form.adultCount}}-</span>
                    <span class="cart-info-title">Çocuk: </span><span class="cart-info-value">{{form.childCount}}</span>
                </div>
            </div>
            <h5 class="item-title">Oda Tipi Seçimi</h5>
            <div data-wrap="radioList" class="row">
                <div class="col-md-4" v-for="item in hotelData.odaTipi">
                    <div class="input-group">
                        <label class="primary-radio-btn">
                            <input type="radio" name="odaTipi" v-model="form.odaTipi" :value="item.name" @change="selectRadio(item,$event)" required>
                            <h6 class="title">{{item.name}}</h6>
                            <div class="img-media">
                                <img class="img-fluid"
                                     :src="item.img"
                                     alt="">
                            </div>
                            <div class="content">
                                <div class="d-flex flex-column">
                                    <span class="short-info">{{item.content}}</span>
                                   <!-- <span class="short-info">5 Gün</span>
                                    <span class="short-info">1 Yetişkin</span>-->
                                </div>
                                <div>
                                    <span class="price">{{item.price}}</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <h5 class="item-title">Manzara Seçimi</h5>
            <div data-wrap="radioList" class="row">
                <div class="col-md-4" v-for="item in hotelData.manzaraTipi">
                    <div class="input-group">
                        <label class="primary-radio-btn">
                            <input type="radio" name="manzaraTipi" v-model="form.manzaraTipi" @change="selectRadio(item,$event)" :value="item.name" required>
                            <h6 class="title">{{item.name}}</h6>
                            <div class="img-media">
                                <img class="img-fluid"
                                     :src="item.img"
                                     alt="">
                            </div>
                            <div class="content">
                                <div class="d-flex flex-column">
                                    <span class="short-info">{{item.content}}</span>
                                </div>
                                <div>
                                    <span class="price">{{item.price}}</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="step-body" v-show="activeStep===3">
            <div class="row">
                <div class="col-lg-7 col-12 d-flex">
                    <div class="step-content type-bordered payment-wrap d-flex flex-column justify-content-between">
                        <div class="payment-card">
                            <div class="front">
                                <div class="mb-3"><b>Credit</b>Card</div>
                                <div class="bank-name"><b>BANK</b></div>
                                <i class="icon icon-credit-card-chip"></i>
                                <div class="card-number">
                                    <span v-if="form.cardNumber">{{form.cardNumber}}</span>
                                    <span v-else>#### #### #### ####</span>
                                </div>
                                <div class="card-holder-name">
                                    <span v-if="form.cardHolderName">{{form.cardHolderName}}</span>
                                    <span v-else>##### ####</span>
                                </div>

                                <div class="date">
                                    <span v-if="form.expirationMonth">{{form.expirationMonth}}</span>
                                    <span v-else>##</span>/
                                    <span v-if="form.expirationYear">{{form.expirationYear}}</span>
                                    <span v-else>##</span>
                                </div>
                                <img class="img-fluid bank-icon" src="assets/img/mc_symbol.svg" width="70" height="70" alt="">
                            </div>
                            <div class="back">
                                <div class="card-cvv">
                                    <div class="card-strip"></div>
                                    <div class="cvv-text">
                                        <span v-if="form.cvv">{{form.cvv}}</span>
                                        <span v-else>###</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment-form-container" data-content-title="Kart Bilgileri">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group">
                                        <label class="field-desc" for="cardHolderName">Kartın Üzerindeki İsim</label>
                                        <input class="input-control" type="text" id="cardHolderName" name="cardHolderName" v-model="form.cardHolderName"
                                               placeholder="Kartın Üzerindeki İsim Giriniz." required
                                               data-msg-required="Bu alan zorunludur.">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <label class="field-desc" for="cardNumber">Kart Numarası</label>
                                        <input class="input-control" type="text" id="cardNumber" name="cardNumber" v-model="form.cardNumber" v-mask="'#### #### #### ####'"
                                               placeholder="Kartın Numarasını Giriniz" required
                                               data-msg-required="Bu alan zorunludur.">
                                    </div>
                                </div>
                                <div class="col-md-8 col-12">
                                    <label for="">Kart Son Kullanma Tarihi</label>
                                    <div class="d-flex">
                                        <div class="input-group">
                                            <select class="primary-select2" name="expirationMonth" id="expirationMonth" v-model="form.expirationMonth"
                                                    data-placeholder="Ay" data-msg-required="Bu alan zorunludur"
                                                    required>
                                                <option></option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                        <div class="input-group ml-2">
                                            <select class="primary-select2" name="expirationYear" id="expirationYear" v-model="form.expirationYear"
                                                    data-placeholder="Yıl" data-msg-required="Bu alan zorunludur."
                                                    required>
                                                <option></option>
                                                <option value="21">2021</option>
                                                <option value="22">2022</option>
                                                <option value="23">2023</option>
                                                <option value="24">2024</option>
                                                <option value="25">2025</option>
                                                <option value="26">2026</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12">
                                    <div class="input-group">
                                        <label class="field-desc" for="cvv">CVV</label>
                                        <input class="input-control" type="text" id="cvv" name="cvv" v-model="form.cvv" v-mask="'###'"
                                               placeholder="CVV Giriniz"
                                               required data-msg-required="Bu alan zorunludur.">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="step-content type-colored summary-section">
                        <div class="summary-title">
                            <span class="type-big">{{form.hotelName}}</span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex flex-column align-items-center">
                                        <span class="cart-info-title">Giriş Tarihi</span>
                                        <span class="cart-info-value">{{form.entryDate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex flex-column align-items-center">
                                        <span class="cart-info-title">Çıkış Tarihi</span>
                                        <span class="cart-info-value">{{form.releaseDate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex flex-column align-items-center">
                                        <span class="cart-info-title">Yetişkin</span>
                                        <span class="cart-info-value">{{form.adultCount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex flex-column align-items-center">
                                        <span class="cart-info-title">Çocuk</span>
                                        <span class="cart-info-value">{{form.childCount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex flex-column align-items-center">
                                        <span class="cart-info-title">Oda Tipi</span>
                                        <span class="cart-info-value">{{form.odaTipi.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex flex-column align-items-center">
                                        <span class="cart-info-title">Manzara</span>
                                        <span class="cart-info-value">{{form.manzaraTipi.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="summary-card">
                                    <div class="cart-info d-flex justify-content-between flex-column flex-lg-row">
                                        <input type="text" placeholder="Kupun Kodu">
                                        <button type="button" class="primary-btn mt-2 mt-lg-0">Kodu Kullan</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="summary-card">
                                    <div class="cart-info">
                                        <ul>
                                            <li>
                                                <span class="cart-info-title">Oda Fiyatı</span>
                                                <span class="cart-info-value">{{form.odaTipi.price}}</span>
                                            </li>
                                            <li>
                                                <span class="cart-info-title">Fiyat Etki Oranı</span>
                                                <span class="cart-info-value">{{form.manzaraTipi.price}}</span>
                                            </li>
                                            <li>
                                                <span class="cart-info-title">Konaklama ({{dateDiff}} Gün)</span>
                                                <span class="cart-info-value">5.635TL</span>
                                            </li>
                                            <li>
                                                <span class="cart-info-title">İndirim(CODE100)</span>
                                                <span class="cart-info-value">-100TL</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="total-sum">
                                        <span class="total-text">TOPLAM TUTAR</span>
                                        <span class="total-price">7.676 TL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-footer">
            <button type="button" class="primary-btn" @click="actionStep(-1)" data-toggle="btnPrev" v-if="activeStep>1">Geri</button>
            <button type="button" @click="actionStep(+1)" class="primary-btn" data-toggle="btnNext" v-if="activeStep!==stepCount">Kaydet ve Devam Et</button>
            <button type="submit" class="primary-btn" data-toggle="btnSubmit" v-if="activeStep===stepCount">Ödeme Yap ve Bitir</button>
        </div>
    </form>

    <modal ref="questionModal" v-cloak>
        <h3 slot="header">Rezervayon İptal</h3>
        <div slot="body">Rezervasyon kaydınızı iptal etmek istediğinize emin misiniz?</div>
        <div slot="footer">
            <button type="button" class="primary-btn" data-dismiss="modal">Kapat</button>
            <button type="button" @click="cancelReservation"  class="primary-btn">
                Evet
            </button>
        </div>
    </modal>

    <modal ref="resultModal" v-cloak>
        <h3 slot="header">Rezervayon İptal</h3>
        <div slot="body">Rezervasyon Kaydı iptal Edilmiştir.</div>
        <div slot="footer">
            <button type="button" class="primary-btn" data-dismiss="modal">Kapat</button>
        </div>
    </modal>

</div>


<div id="modal-template" v-show="show">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <slot name="header">default header</slot>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot name="body">default body</slot>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</div>
