body{
 color:red;
  background-color: yellow;
  .deneme2{
    color:blue;
  }
}

.deneme{
  font-size: 12px;
  background-color: yellow;
  color:blue;
  display: grid;
  position: sticky;
  overflow-scrolling: touch;
}
.deneme3{
  color:pink;
}