//color variable

$color-deep-sapphire:#073763;
$color-denim:#1368b7;
$color-concrete:#f2f2f2;
$color-japanese-laurel:#009e0f;


$color-corduroy:#656665;
$color-mine-shaft:#333333;
$color-stack:#9fa09f;
//font variable

/*
656665//disableicon
333333//activeicon
9fa09f//disable span*/
