body {
  color: red;
  background-color: yellow; }
  body .deneme2 {
    color: blue;
    font-size: 12px; }

.deneme {
  font-size: 12px;
  background-color: yellow;
  color: blue;
  display: grid;
  position: sticky;
  overflow-scrolling: touch; }

.deneme3 {
  color: pink; }
