<!-- @@master  = ./shared/master.html-->
<!-- @@block  =  content-->
<section class="primary-section">
    <div class="section-header">
        <div>
            <span class="title">Otel</span><br>
            <span class="title type-small">Rezervasyon Sistemi</span>
        </div>
        <div>
            <button type="button">Yeni Rezervasyon Yap</button>
        </div>
    </div>
    <div class="section-content">
        <!-- @@include ./shared/primary-step.html -->
    </div>
</section>
<!-- @@close-->