$icomoon-font-family: "icon-fonts" !default;
$icomoon-font-path: "fonts" !default;

$icon-credit-card-chip: "\e906";
$icon-datepicker: "\e904";
$icon-bed: "\e905";
$icon-calendar: "\e91a";
$icon-credit-card: "\e91c";
$icon-search: "\e90c";
$icon-arrow-down: "\e900";
$icon-arrow-up: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-right: "\e903";

